dotfiles_root_folder="$(cd -- "$(dirname -- "${BASH_SOURCE[0]:-${(%):-%x}}")" && cd ../../.. && pwd -P)"

color_green="\033[0;32m"
color_ochre="\033[38;5;95m"
color_red="\033[0;31m"
color_yellow="\033[0;33m"

function git_branch {
  local git_status="$(git status 2> /dev/null)"
  local on_branch="On branch ([^${IFS}]*)"
  local on_commit="HEAD detached at ([^${IFS}]*)"

  if [[ $git_status =~ $on_branch ]]; then
    local branch=${BASH_REMATCH[1]}
    echo "($branch)"
  elif [[ $git_status =~ $on_commit ]]; then
    local commit=${BASH_REMATCH[1]}
    echo "($commit)"
  fi
}

function git_color {
  local git_status="$(git status 2> /dev/null)"

  if [[ $git_status =~ "Your branch is ahead of" || $git_status =~ "Your branch is behind" ]]; then
    echo -e $color_yellow
  elif [[ ! $git_status =~ "working tree clean" ]]; then
    echo -e $color_red
  elif [[ $git_status =~ "nothing to commit" ]]; then
    echo -e $color_green
  else
    echo -e $color_ochre
  fi
}

# Load wezterm.sh
source $dotfiles_root_folder/other/wezterm.sh