# Used this site for conversion of original colors: https://hexdocs.pm/color_palette/ansi_color_codes.html

color_green="%F{10}"
color_purple="%F{5}"
color_red="%F{9}"
color_reset="%f"
color_yellow="%F{11}"

git_color() {
  local git_status="$(git status 2> /dev/null)"

  if [[ $git_status =~ "Your branch is ahead of" || $git_status =~ "Your branch is behind" ]]; then
    echo -e $color_yellow
  elif [[ ! $git_status =~ "working tree clean" ]]; then
    echo -e $color_red
  elif [[ $git_status =~ "nothing to commit" ]]; then
    echo -e $color_green
  else
    echo -e $color_purple
  fi
}

git_branch() {
  local branch
  if git rev-parse --is-inside-work-tree &>/dev/null; then
    branch=$(git rev-parse --abbrev-ref HEAD 2>/dev/null)
    if [[ "$branch" == "HEAD" ]]; then
      # Detached HEAD state, show commit hash
      branch=$(git rev-parse --short HEAD 2>/dev/null)
    fi
    echo "($(git_color)${branch}${color_reset})"
  fi
}

# Load wezterm.sh
source $DOTFILES_ROOT_FOLDER/other/wezterm.sh