# Used this site for conversion of original colors: https://hexdocs.pm/color_palette/ansi_color_codes.html

COLOR_GREEN="%F{10}"
COLOR_PURPLE="%F{5}"
COLOR_RED="%F{9}"
COLOR_RESET="%f"
COLOR_YELLOW="%F{11}"

git_color() {
  local git_status="$(git status 2> /dev/null)"

  if [[ $git_status =~ "Your branch is ahead of" || $git_status =~ "Your branch is behind" ]]; then
    echo -e $COLOR_YELLOW
  elif [[ ! $git_status =~ "working tree clean" ]]; then
    echo -e $COLOR_RED
  elif [[ $git_status =~ "nothing to commit" ]]; then
    echo -e $COLOR_GREEN
  else
    echo -e $COLOR_OCHRE
  fi
}

git_branch() {
  local branch
  if git rev-parse --is-inside-work-tree &>/dev/null; then
    branch=$(git rev-parse --abbrev-ref HEAD 2>/dev/null)
    if [[ "$branch" == "HEAD" ]]; then
      # Detached HEAD state, show commit hash
      branch=$(git rev-parse --short HEAD 2>/dev/null)
    fi
    echo "($(git_color)${branch}${COLOR_RESET})"
  fi
}

# Load wezterm.sh
source "$0:a:h:h"/../other/wezterm.sh